<!DOCTYPE html>
<html ng-app="mapp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<style>
		</style>
	</head>
	<body>
		<div class="container" ng-controller="m1">
			<table class="container table table-bordered" >
				<tr>
					<th>name</th>
					<th>name</th>
					<th>name</th>
					<th>name</th>
				</tr>
				<tr ng-repeat="list in lis" class="trr">
					<td>{{list.author}}</td>
					<td>{{list.date}}</td>
					<td>{{list.content}}</td>
					<td>{{list.title}}</td>
				</tr>
			</table>
			<button class="btn btn-block btn-success" ng-click="ck()">加载更多</button>
		</div>
	</body>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript">
		angular.module("mapp",["ng"]).controller("m1",function($http,$scope){
			$http({
				method:"GET",
				url:"js/data.json"
			}).then(function(response){
				console.log(response.data.list);
				var shuzu=response.data.list;
				var lenght=shuzu.length;
				console.log(lenght);
				var c=shuzu.splice(0,5);
				$scope.lis=c;
				$scope.ck=function(){
					var tr=document.getElementsByClassName("trr");
					var i=0;
					var j=shuzu.splice(i,4);
					if(tr.length==lenght-4){
						$scope.hide=true;
					}
					$scope.lis=$scope.lis.concat(j);
				}
			}
			)
		});
		
	</script>
</html>